@font-face {
    font-family: default-font-family;
    src: local('Noto Sans TC'), local("微軟正黑體"), local("Microsoft JhengHei");
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: default-font-family;
    src: local('Arial');
    unicode-range: U+00-024F;
}
